<head>
    <title>Counting Time</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/header.css">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;600;800&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/4ffec31fd0.js" crossorigin="anonymous"></script>
</head>