main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#container{
    width: 50%;
    height: 12rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.count-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-red);
    border-radius: 0.3rem;
}

.number{
    height: 80%;
    width: 100%;
    color:var(--light-white);

    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 6.5rem;

    cursor: default;
}

main span{
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    font-size: 1.8rem;
    cursor: default;
}

#control-panel{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

#control-panel h3{
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    cursor: default;
}

#control-panel h3::before{
    content: " ";
    background-color: var(--subtitle-gray);
    width: 15rem;
    height: 0.05rem;
    display: block;
    margin-right: 1rem;
}

#control-panel h3::after{
    content: " ";
    background-color: var(--subtitle-gray);
    width: 15rem;
    height: 0.05rem;
    display: block;
    margin-left: 1rem;
}

button {
    width: 6rem;
    height: 2.5rem;

    background-color: var(--light-red);
    border-radius: 0.3rem;
    border-style: none;
    color: var(--light-white);

    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

button:hover{
    filter: brightness(0.9);
    cursor: pointer;
    transform: scale(1.05);
}

.bt-add-time{
    margin-inline: 1rem;
    margin-top: 2rem;
}

#bt-start, #bt-clear{
    margin-top: 1.5rem;
    margin-inline: 3rem;
}

#time-out{
    background-color: rgba(120, 120, 120, 0.95);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

#time-out p{
    font-size: 6rem;
}
