*{
    box-sizing: border-box;
    margin: 0;
}

:root{

    --light-white: #fefefe;
    --subtitle-gray: #808080;
    --light-red: #D25c45;
    font-family: 'Merriweather Sans', sans-serif;


}

body{

    position: relative;

    background-color: #fefefe;

    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows:
    10rem 27rem auto;

    height: 100vh;
    margin: 0 auto;
    padding-top: 1rem;
}

title{
    cursor: default;
}